a {
	text-decoration: none;
}

.logo {
	width: 100px;
	margin-top: 20px;
    margin-left: 40px;
}

.bluenav {
	font-size: 22px;
	color: blue;
}

.rednav {
	font-size: 22px;
	color: red;
}

nav {
	display: inline-block;
}
li {
	display: inline-block;
	width: 150px;
}

h3 {
	color: #3D58A6;
}
.suratebi {
	display: inline-block;
	margin:15px;
}
.map {

}
div{
	display: inline-block;
}
.info {
width: 260px;
height: 90px;
margin-left: 80px;
margin-bottom: 300px;
}
.section1 {
	background-color: #E6E6E6;
	height: 570px;
	width: 1366px;
	margin-top: 15px;
}