a {
	text-decoration: none;
}

.logo {
	width: 100px;
	margin-top: 20px;
    margin-left: 40px;
}

.bluenav {
	font-size: 22px;
	color: blue;
}

.rednav {
	font-size: 22px;
	color: red;
}

nav {
	display: inline-block;
}
li {
	display: inline-block;
	width: 150px;
}

.suratebi {
	display: inline-block;
	margin:15px;
}
.b-color {
	background-color: #E6E6E6;
	 max-width: 1366px;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}
.box1 {
	
}
.box2 {
	margin-left: 400px;
	margin-top: 20px;
}